/*
TODO - There's extra width somwhere causing scrolling. Fix dimensions for...

(1) Trusted Companies
(2)Gradient circle and (3)Image-wrapper in bottom-row of Hero
(4) Explained Features
(5) 100vw in wrapper divs

*/


/* Initial General Styling, Light/Dark Mode */
*{
    box-sizing: border-box;
}
*:focus{
    outline: none;
}

:root{
    --gray--black: black;
    --dark-grey: #707070;
    --medium-sea-green: #00b96c;
    --dark-grey-2: #949494;
    --white-smoke: #f4f4f4;
    --hover-state: #33c789;
    --white: white;
    --medium-spring-green: rgba(0,255,149,.4);
    --green-text: #00b96c;
    --white-smoke-3: #f4f4f4;
    --white-smoke-4: #f9f9f9;
    --medium-sea-green-2: #00b96c;
    --tar-sands: #949494;
    --white-2: white;
    --dim-grey: #707070;
    --white-3: #fafafa;
    --white-smoke-2: #f0f0f0;
    --black-2: black;
    --dark-grey-3: #949494;
    --medium-spring-green-2: rgba(0,255,149,.3);
    --gray--crow: #545454;
    --starling-dark: #9f4bf3;
    --dark-orange: #ff8616;
    --pale-violet-red: #ff4572;
    --font-family: "Grain Inter", sans-serif;
    --silver: #c9c9c9;
    --gray--gull: #f0f0f0;
    --light-spring-green: rgba(0,255,149,.19);
    --gray--hawk: #c9c9c9;
    --color: white;
    --oriole: #ff8616;
    --bluebird: #24c1dd;
    --gray--pigeon: #949494;
    --22-spacer: rgba(0,185,108,0);
    --xslidevalue: 0px;


    --grain-black: #000000;
    --gran-black-hover: #545454;
    --grain-green: #01b96c;
    --grain-green-hover: #01a05e;
    --grain-green-opaque-bg:rgba(0, 255, 149, .4);
    --grain-green-opaque:rgba(1, 185, 108, .3);
    --grain-green-opaque-dark: rgba(1, 185, 108, .2);
    --grain-green-opaque-light: #bffde3;
    --grain-purple-opaque: #f2e5ff;
    --grain-blue-opaque: #e0faff;
    --grain-orange-opaque: #ffecdb;
    --grain-purple: #9f4bf4;
    --grain-blue: #24c1dd;
    --grain-orange: #e37e00;
    --grain-bgcolor: #ffffff;
    --grain-white: #ffffff;
    --grain-whitebg: #ffffff;
    --dark-color-text: #000000;
    --light-color-text: #545454;
    --shadow-color: rgba(0,0,0,.25);
}
/* @media (prefers-color-scheme: dark){
    :root{
    --grain-black: #000000;
    --grain-green: #01b96c;
    --grain-purple: #9f4bf4;
    --grain-blue: #24c1dd;
    --grain-orange: #e37e00;
    --grain-bgcolor: #f0f2f5;
    --grain-white: #ffffff;
    --grain-whitebg: #ffffff;
    --dark-color-text: #000000;
    --light-color-text: #545454;
    --shadow-color: rgba(0,0,0,.25);
    }
} */
/* ---------------------------------------- */
/* Body */
body{
    background-color: var(--grain-bgcolor);
    font-family: Arial, Helvetica, sans-serif;
    color: var(--grain-black);
    line-height: 1.3;
}
/* ---------------------------------------- */
/* Header */
.header{
    z-index: 50;
    background: var(--grain-whitebg);
    width: 100%;
    top: 0;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    border-bottom: 1px solid var(--white-smoke-2);
}
.header__container{
    background: var(--grain-whitebg);
    width: 100%;
    max-width: 1440px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-size: 1rem;
}
.header__logo-section img{
    max-width: 120px;
    object-fit: cover;
}
.header .header__hamburger-menu{
    display: none;
    font-size: 1.4rem;
    color: var(--light-color-text);
    transition: all .2s;
}
.header .header__hamburger-menu:hover{
    color: var(--grain-green);
}
.header__menu{
    width:100%;
}
.header__menu-tabs{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__menu .dropdown-toggle .fa-angle-down{
    margin-left: 5px;
}
/* .header__menu-tabs .dropdown:hover .header__menu-tabs .dropdown-menu{
    display: block;
    margin-top: 0;
} */
.header__menu-tabs .dropdown, .header__menu-tab-item{
    margin: 0 25px;
}
.header__menu-tabs .dropdown a, .header__menu-tab-item a{
    color:var(--light-color-text);
    text-decoration: none;
    font-weight: 500;
    transition: all .2s;
}
.header__login{
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
}
.header__login-button{
    color: var(--dark-color-text);
    text-decoration: none;
    font-weight: 500;
} 
.header__menu-tab-item a:hover,
.header__login-button:hover{
    color: var(--grain-green);
}
.header__demo-button .default-button a{
    font-weight: 500;
    text-decoration: none;
}
.n3-font{
    letter-spacing: -.03em;
}
.lh3-font{
    line-height: 1.3;
}
.dropdown-toggle:hover .dropdown-menu,.dropdown:hover .dropdown-menu{
    display: block !important;
}
.dropdown-menu{
    background-color: var(--white-2);
    border-radius: .5rem;
    min-width: 100%;
    padding: .5rem;
    box-shadow: 0 5px 1rem rgba(0, 0, 0, .1);
}
.dropdown-menu>li>a{
    font-weight: 500;
    color: var(--dark-color-text);
    white-space: nowrap;
    border-radius: .5rem;
    padding: .75rem 1rem;
    font-size: .9375rem;
    font-weight: 500;
    line-height: 1.42857;
    transition: color .35s, background-color .35s;
    display: block;
    overflow: hidden;
}
.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover{
    background-color: var(--grain-green);
    color:white;
}
/* ---------------------------------------- */
/* Default Button Styling */
.header__demo-button{
    margin-left: 20px;
}
a:focus, a:hover{
    text-decoration: none;
}
.default-button{
    white-space: nowrap;
    padding: 15px 25px;
    text-align: center;
    border-radius: 1000px;
    transition: all .2s;
    font-size: 1rem;
}
.green-demo-button{
    background: var(--grain-green);
}
.green-demo-button {
    color:white;
}
.green-demo-button:focus, .green-demo-button:hover{
    color:white;
    background: var(--grain-green-hover);
}
.black-button{
    background: var(--grain-black);
}
.black-button {
    color:white;
}
.black-button:focus, .black-button:hover{
    color:white;
    background: var(--gran-black-hover);
}
/* ---------------------------------------- */
/* Default Section Header */
.section-details{
    margin-bottom: 60px;
}
.section-small-title{
    font-size: 1.2rem;
    font-weight: 300;
    padding: 12px 18px;
    border-radius: 40px;
    border: 1px solid var(--white-smoke-2);
}
.section-sub-title{
    margin-top:40px;
    font-size: 3.2rem;
    font-weight: 600;
    text-align: center;
}
.section-paragraph{
    margin-top: 25px;
    font-size: 20px;
    font-weight: 500;
    color: var(--light-color-text);
    text-align: center;
    line-height: 1.6;
}
.large-summary{
    font-size: 50px;
    font-weight: 600;
}
/* ---------------------------------------- */
/* Hero */
.main-container{
    width:100%;
    display: flex;
    justify-content: center;
    margin-bottom: 80px;
    /* gap:160px; */
}
.content-area{
    /* max-width: 1200px; */
    /* height: 11500px; */
    width: 100%;
    display: flex;
    row-gap: 160px;
    flex-direction: column;
    align-items: center;
}
.hero {
    width:100%;
    max-width: 1300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 200px;
}
.hero__top-section{
    width:100%;
    max-width: 1140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 60px;
    z-index: 9;

}
.hero__top-section-large-title{
    font-size: 4.2rem;
    font-weight:900;
    text-align: center;
    line-height: 1.3;
}
.hero__top-section-large-title span{
    padding:0px 4px;
    background: var(--grain-green-opaque-bg);
}
.hero__top-section-sub-title{
    color:var(--light-color-text);
    font-weight: 500;
    font-size: 1.25rem;
    text-align: center;
    padding-top: 30px;
    max-width: 800px;
    line-height: 1.6;
}
.hero__top-section-buttons{
    padding-top: 60px;
}
.hero__top-section-buttons .black-button{
    margin-right: 12px;
} 
.hero__bottom-section{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width:90vw;
}
.hero__bottom-section .hero__background-wrapper{
    position: absolute;
    width:100%;
    height:100%;
    z-index: -1;
}
.hero__bottom-section .hero__background-wrapper .hero__background-box {
    height: 49%;
    width: 100%;
    border-radius: 12px;
}
#green-box{
    background: linear-gradient(#fff, rgba(0, 185, 108, .1));
    margin-bottom: 15px;
}
#gray-box{
    background: linear-gradient(rgba(161, 161, 161, .1), rgba(255, 255, 255, 0) 72%);
}
.hero__bottom-section .hero__image-wrapper{
    padding-top: 70px;
    width: 100%;
    max-width: 1140px;
    z-index:4;
}
.hero__bottom-section .hero__image-wrapper img{
    width: 100%;
    border: 2px solid var(--grain-green);
    border-radius: 12px;
}
.hero__bottom-section .hero__gradient-wrapper{
    width: 100%;
    height: 0;
    z-index:4;
    display:flex;
    justify-content: center;
    align-items: center;
}
.hero__bottom-section .hero__gradient-background{
    position: absolute; 
    background: transparent radial-gradient(ellipse at bottom, var(--grain-green) 01%, rgba(255,255,255,0),rgba(255,255,255,0));
    width: 100%;
    max-width: 1200px;
    height:600px;
    top:-300px;
}
/* ---------------------------------------- */
/* Trusted Companies */
.trusted-companies{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 40px;
    max-width: 1000px;
}
.trusted-companies .trusted-companies__title{
    font-size: 1.5rem;
    font-weight: 700;
}
.trusted-companies .trusted-companies__gallery{
    width:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 23px;
}
.trusted-companies .trusted-companies__gallery-top-row{
    margin-bottom: 10px;
}
.trusted-companies .trusted-companies__gallery-top-row, .trusted-companies .trusted-companies__gallery-bottom-row{
    width:100%;
    display: flex;
    gap:30px;
    justify-content: center;
    align-items: center;    
}
.trusted-companies__gallery-item{
    width: 150px;
    height: 80px;
    object-fit: cover;
    object-position: center;
}
/* ---------------------------------------- */
/* Features */
.section-container{
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-left: 30px;
    padding-right:30px;
}
.features__grid{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.features__grid-item{
    width: 21%;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    transition: all .2s;
}
.features__grid-item:hover, .features__grid-item:focus{
    cursor: pointer;
}
.features__grid-icon{
    width:70px;
    height:70px;
    border-radius: 17px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.features__grid-icon .fa{
    font-size: 1.2rem;
}
.features__grid-item h3{
    font-size: 1.5rem;
    font-weight: 500;
    text-align: center;
    line-height: 1.4;
    text-decoration: none;
    color: var(--dark-color-text);
    margin-top: 32px;
}
.features__grid-item p{
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    line-height: 1.5;
    text-decoration: none;
    margin-top: 16px;
    color: var(--light-color-text)
}
.features__grid-item:nth-child(1) .features__grid-icon, .explained-feature:nth-child(1) .features__grid-icon{
    background: var(--grain-purple-opaque);
    color: var(--grain-purple);
}
.features__grid-item:nth-child(2) .features__grid-icon, .explained-feature:nth-child(2) .features__grid-icon{
    background: var(--grain-blue-opaque);
    color: var(--grain-blue);
}
.features__grid-item:nth-child(3) .features__grid-icon, .explained-feature:nth-child(3) .features__grid-icon{
    background: var(--grain-orange-opaque);
    color: var(--grain-orange);
}
.features__grid-item:nth-child(4) .features__grid-icon, .explained-feature:nth-child(4) .features__grid-icon{
    background: var(--grain-green-opaque-light);
    color: var(--grain-green);
}
.features__grid-item:nth-child(1):hover{
    box-shadow: 1px 1px 30px 10px var(--grain-purple-opaque);
}
.features__grid-item:nth-child(2):hover{
    box-shadow: 1px 1px 30px 10px var(--grain-blue-opaque);
}
.features__grid-item:nth-child(3):hover{
    box-shadow: 1px 1px 30px 10px var(--grain-orange-opaque);
}
.features__grid-item:nth-child(4):hover{
    box-shadow: 1px 1px 30px 10px var(--grain-green-opaque-light);
}
/* ---------------------------------------- */
/* Explained Features - AI Meetings, Meeting Automation, etc... */
.explained-features{
    max-width: 1270px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap:160px;
    align-items: center;
}
.explained-feature{
    position: relative;
}
.explained-feature__blurred-bg{
    z-index: -5;
    -webkit-filter: blur(60px);
    -moz-filter: blur(60px);
    -o-filter: blur(60px);
    -ms-filter: blur(60px);
    filter: blur(60px);
    width: 100%;
    max-width: 600px;
    height: 600px;
    border-radius: 50%;
}
.explained-feature:nth-child(1) .explained-feature__blurred-bg{
    background-color: var(--grain-purple-opaque);
    position:absolute;
    top:0;
    right:0px;
}
.explained-feature:nth-child(2) .explained-feature__blurred-bg{
    background-color: var(--grain-blue-opaque);
    position:absolute;
    top:-90px;
    left:0px;
}
.explained-feature:nth-child(3) .explained-feature__blurred-bg{
    background-color: var(--grain-orange-opaque);
    position:absolute;
    top:0;
    right:0;
}
.explained-feature:nth-child(4) .explained-feature__blurred-bg{
    background-color: var(--grain-green-opaque-dark);
    position:absolute;
    top:-90;
    left:0;
}
.explained-feature__container{
    display: flex;
    align-items: start;
    gap: 60px;
    flex-direction: column;
}
.explained-feature__image{
    object-fit: cover;
    object-position: center;
    width: 66%;
}
.explained-feature__header{
    width: 75%;
    display: flex;
    gap: 25px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: start;
}
.explained-feature__header .explained-feature__summary{
    text-align: left;
}
.explained-feature .features__grid-icon{
    width: 40px;
    height:40px;
    border-radius: 12px;
}
.explained-features .features__grid-icon .fa{
    font-size: 0.9rem;
}
.explained-feature__header span{
    font-size: 1rem;
    font-weight: 900;
}
.explained-feature__title-box{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap:15px;
}
.explained-feature:nth-child(1) .explained-feature__header span{
    color:var(--grain-purple);
}
.explained-feature:nth-child(2) .explained-feature__header span{
    color:var(--grain-blue);
}
.explained-feature:nth-child(3) .explained-feature__header span{
    color:var(--grain-orange);
}
.explained-feature:nth-child(4) .explained-feature__header span{
    color:var(--grain-green);
}
.explained-feature__content{
    display: flex;
    align-items: flex-start;
    gap:65px;
}
.explained-feature .explained-feature__mini-boxes{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 30px;
}
.explained-feature .explained-feature__mini-box{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
    padding:20px 15px;
    background: white;
    transition: all .2s;
}
.explained-feature .explained-feature__mini-boxes .explained-feature__mini-box h5{
    font-size: 1rem;
    font-weight: 900;
}
.explained-feature .explained-feature__mini-boxes .explained-feature__mini-box p{
    font-size: 1rem;
    font-weight: 500;
    color:var(--light-color-text);
    line-height: 1.5;
}
.explained-feature:nth-child(1) .explained-feature__mini-boxes .explained-feature__mini-box h5{
    color:var(--grain-purple);
}
.explained-feature:nth-child(2) .explained-feature__mini-boxes .explained-feature__mini-box h5{
    color:var(--grain-blue);
}
.explained-feature:nth-child(3) .explained-feature__mini-boxes .explained-feature__mini-box h5{
    color:var(--grain-orange);
}
.explained-feature:nth-child(4) .explained-feature__mini-boxes .explained-feature__mini-box h5{
    color:var(--grain-green);
}
.explained-feature__mini-boxes{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.explained-feature__mini-box{
    border: 1px solid var(--white-smoke-2);
    border-radius: 12px;
}
/* BOX SHADOWS are animated. Each box gets a glow and a different image is shown.*/
.explained-feature:first-child .explained-feature__mini-boxes .explained-feature__mini-box:hover{
    border-color: var(--starling-dark);
    box-shadow: 0 4px 32px rgba(159, 75, 243, .42);
}
.explained-feature:nth-child(2) .explained-feature__mini-boxes .explained-feature__mini-box:hover{
    border-color: var(--bluebird);
    box-shadow: 0 4px 32px rgba(36, 193, 221, .3);
}
.explained-feature:nth-child(3) .explained-feature__mini-boxes .explained-feature__mini-box:hover{
    border-color: var(--dark-orange);
    box-shadow: 0 4px 32px rgba(255, 134, 22, .3);
}
.explained-feature:nth-child(4) .explained-feature__mini-boxes .explained-feature__mini-box:hover{
    border-color: #009959;
    box-shadow: 0 4px 32px rgba(0, 153, 89, .3);
}
.explained-feature .explained-feature__mini-boxes .explained-feature__mini-box:hover{
    cursor: pointer;
}
/* ---------------------------------------- */
/* Integration section */
.plain-link{
    margin-bottom: 35px;
    text-decoration: none;
    color: var(--dark-color-text);
    font-weight: 500;
}
.plain-link .fa-arrow-right{
    font-size: 0.7rem;
    margin-left: 10px;
    margin-bottom: -22px;
}
.plain-link:hover,.plain-link:focus,
.plain-link .fa-arrow-right:hover,.plain-link .fa-arrow-right:focus{
    color:var(--grain-green);
} 
.integrations .integrations__paragraph {
    max-width: 800px;
    text-align: center;
}
.integrations__image{
    width: 88%;
} 
.integrations__image img{
    width: 100%;
    object-fit: cover;
    object-position: center;
}
/* ---------------------------------------- */
/* Testimonials */
.testimonials__wrapper{
    width:100vw;
    max-width: 100%;
    background-color: #fafafa;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px 0px;
}
.testimonials__wrapper .section-container{
    align-items: center;
}
.testimonials__wrapper .container{
    width:100%;
    padding-left: 10%;
    padding-right: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 36px;
}
.testimonials{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.testimonials__title{
    margin-bottom: 60px;
}
.testimonials__carousel{
    position: relative;
    border: 1px solid var(--white-smoke-2);
    border-radius: 24px;
    background-color: white;
    height: 350px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, .08);
    padding: 24px;
}
.testimonial__carousel-buttons{
    position: absolute;
    right: 40px;
    bottom: 30px;
    display: flex;
    justify-content: space-between;
    gap: 30px;
}
.testimonial__carousel-buttons a{
    font-size: 25px;
    color: var(--dark-color-text);
}
.testimonial__box{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    padding-top: 3%;
    padding-left: 4%;
    padding-right: 4%;
}
.testimonial__box p{
    text-align: center;
    max-height: 600px;
    font-size: 32px;
}
.testimonial__bottom-info{
    margin-left: -4%;
}
.testimonial__focused-text{
    background-color: rgba(0, 255, 149, .4);
    padding-left: 4px;
    padding-right: 4px;
    font-size: 40px;
}
.testimonial__box .testimonial__bottom-info .testimonial__profile-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:24px;
}
.testimonial__box .testimonial__bottom-info .testimonial__user-image{
    width: 60px;
    object-fit: cover;
    object-position: center;
}
.testimonial__box .testimonial__bottom-info .testimonial__user-company-logo{
    height: 32px;
    object-fit: cover;
    object-position: center;
}
.testimonial__profile-wrapper .testimonial__user-name-title h5{
    font-size: 16px;
    font-weight: 600;
    color: var(--tar-sands);
}
.testimonial__profile-wrapper .testimonial__user-name-title p{
    font-size: 12px;
    color: var(--gray--pigeon);
    text-wrap: nowrap;
    margin-bottom: 15px;
}
.verdict {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.verdict__wrapper {
    width: 100%;
    display: flex;
    gap: 24px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    border-radius: 24px;
    padding: 0 24px 24px;
}
.verdict__left-box{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width:35%;
}
.verdict__left-box h3{
    color:white;
    font-size: 2em;
    line-height: 1.5;
    font-weight: 600;
    text-wrap: nowrap;
    text-align: left;
}
.verdict__left-box p{
    color: var(--tar-sands);
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
    text-align: left;
}
.verdict__right-box{
    text-align: center;
    width: 56%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:24px; 
}
.verdict__right-box .verdict__stars-image{
    height: 20px;
    object-fit: cover;
    object-position: center;
}
.verdict__right-box .verdict__stats-image{
    max-width:100%;
    object-fit: cover;
    object-position: center;
}
.verdict__right-box h6{
    color: white;
    font-size: 16px;
    line-height: 1.5;
    font-weight: 400;
}
/* ---------------------------------------- */
/* Privacy & Security */
.spacer{
    width:16px;
    height: 16px;
}
.privacy{
    row-gap: 24px;
}
.privacy .privacy__box-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 160px;
}
.privacy__box{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.privacy__box-details{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    row-gap: 24px;
    width:56%;
}
.privacy .privacy__box-text p{
    text-align: left;
    margin-bottom: 10px;
}
.privacy .privacy__image-column{
    width: 35%;
}
.privacy .privacy__box-image{
    max-width: 100%;
    object-fit: cover;
    object-position: center;
}
.privacy .plain-link {
    margin-bottom: 0;
    padding:12px 0px;
}
/* ---------------------------------------- */
/* Grain for everyone */
.grain-diverse{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 160px;
}
.grain-diverse .spiral, .spiral__top-container{
    height: 750px;
    position: relative;
    justify-content: center;
}
.grain-diverse__flex{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 31px;
    z-index: 5;
}
.grain-diverse .grain-diverse__text{
    text-align: center;
}
.grain-diverse .grain-diverse__text p{
    color: var(--tar-sands);
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    margin-top: 16px;
}

.spiral spiral__wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.spiral img{
    max-width: 100%;
    position: absolute;
    object-fit: cover;
    object-position: center;
}
.grain-diverse__spiral-image{
    width:720px;
}
.grain-diverse__spiral-people-image{
    width:100%;
}
.white-gradient-cover{
    width: 90%;
}
.spiral__top-container{
    overflow: hidden;
}
.spiral .spiral__bottom-container{
    display: none;
    position: absolute;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: stretch;
    width: 100%;
    row-gap: 40px;
}
.spiral .spiral__menu-button{
    background: white;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    box-shadow: 0 2px 32px rgba(0, 153, 89, .2);
    border: 1px solid var(--green-text);
    border-radius: 12px;
    width: 48%;
    padding: 16px;
    gap:4px;
}
.spiral .spiral__menu-button .spiral__menu-heading{
    font-size: 1.5em;
    font-weight: 600;
    color: var(--dark-color-text);
}
.spiral .spiral__menu-button .spiral__explore-link{
    font-size: 1rem;
    font-weight: 600;
    color: var(--green-text);
    margin: 0;
    padding: 4px 8px;
}
/* ---------------------------------------- */
/* Grain for Everyone - Get Started */
.grain-diverse .get-started__box{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: var(--grain-green);
    height:460px;
    width: 100%;
    border-radius: 40px;
    position: relative;
}
.grain-diverse .get-started__text-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 16px;
}
.get-started__box .large-summary{
    color:white;
    margin: 0;
    padding: 0;
}
.get-started__box .section-paragraph{
    color: rgba(255, 255, 255, .7);
    margin-bottom: 15px;
    font-size: 20px;
    margin-top: 0px;
    line-height: normal;
}

.grain-diverse .get-started__buttons{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 100%;
    gap: 16px;
}
.get-started__buttons .green-demo-button{
    background: white;
    color: var(--grain-green);
}
.get-started__buttons .green-demo-button:hover{
    background: var(--gray--gull);
    opacity: 0.8;
}
.get-started__box .get-started__image{
    position: absolute;
    object-fit: cover;
    object-position: center;
}
#get-started-left-image{
    width: 25%;
    top:100px;
    left: -100px; 
    transform: rotate(15deg);
    z-index: 3;
}
#get-started-right-image{
    width: 40%;
    bottom:-100px;
    right: -250px; 
    transform: rotate(-15deg);
    z-index: 2;
}
/* ---------------------------------------- */
/* Footer */
.footer__wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap:0;
}
.footer__wrapper{
    align-items: center;
    grid-column-gap: 72px;
    grid-row-gap: 72px;
    flex-direction: column;
    align-items: center;
    padding-top: 48px;
    padding-bottom: 0;
    display: flex;
}
.footer__logo-section img{
    max-width: 120px;
    object-fit: cover;
    object-position: center;
}
.footer__top-container{
    display: flex;
    flex-direction: row-reverse;
    align-items: start;
    justify-content: space-between;
    width: 100%;
}
.footer__top-container .footer__connect{
    width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 30px;
}
.footer__top-container .footer__socials{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 0px;
    margin-left: -0.375rem;
}
.footer__top-container .footer__connect .footer__email{
    color: var(--dark-color-text);
    font-size: 15px;
    padding-left: 6px;
}
.footer__top-container .footer__connect .fa-envelope{
    margin-right:10px;
    font-size: 18px;

}
.footer__top-container .footer__socials a{
    color: #000;
    background-color: #f0f0f0;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    width: 2.25rem;
    height: 2.25rem;
    margin-left: .25rem;
    margin-right: .375rem;
    transition: color .2s, background-color .2s;
    display: flex;
}
.footer__top-container .footer__socials a:hover{
    color: white;
    background: var(--grain-green);
}
.footer__top-container .footer__socials .social-image{
    height: 18px;
    width: 18px;
    object-fit: cover;
    object-position: center;
}
.footer__top-container .footer__menu{
    width:60%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: flex-start;
}
.footer__top-container .footer__section-list{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width:20%;
}
.footer__section-list-title{
    margin-bottom: 20px;
    font-weight: 600;
    color: var(--gray--black);
}
.footer__top-container .footer__section-list-options{
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 0;
    display: flex;
}
.footer__top-container .footer__section-list-options a{
    font-size: 12px;
    line-height: 1.5;
    padding-top: 2px;
    padding-bottom: 2px;
    transition: color .2s;
    overflow: hidden;
    color: var(--dark-color-text);
}
.footer__bottom-container{
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--gray--hawk);
}
.footer__bottom-container p {
    font-size: 16px;
    color:var(--gray--crow);
    font-weight: 400;
}
.footer__bottom-wrapper{
    max-width: 1200px;
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 16px 30px 18px;
}
/* ---------------------------------------- */
@media screen and (min-width: 1920px) {
    .hero__background-wrapper {
        max-width: 1300px;
    }
}
@media screen and (min-width: 1280px) {
    .integrations__image img{
        background-image: url(../css/small_Ellipse.png);
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: auto 110%;
    }
}
@media only screen and (max-width: 1200px){
    .header__menu, .header__login{
        display: none;
    }
    .header .header__hamburger-menu{
        display: block;
    }
    .hero__top-section-large-title{
        font-size: 3.7rem;
    }
    .section-small-title{
        font-size: 12px;
    }
}

@media only screen and (max-width:1000px){
    .header__logo-section img, .footer__logo-section img{
        max-width: 100px;
    }
    .hero__bottom-section .hero__gradient-background{
        width: 100%;
        height:400px;
        top: -200px;
    }
}

@media only screen and (max-width:991px){
    .features__grid{
        grid-row-gap: 48px;
        flex-wrap: wrap;
    }
    .features__grid-item{
        border: 1px solid var(--white-smoke-2);
        padding-top: 48px;
        padding-bottom: 48px;
        width: 48%;
    }
    .explained-feature__content{
        flex-direction: column;
    }
    .explained-feature:nth-child(2) .explained-feature__content,
    .explained-feature:nth-child(4) .explained-feature__content{
        flex-direction: column-reverse;
    }
    .explained-feature .explained-feature__mini-boxes {
        flex-direction: row;
    }
    .explained-feature .explained-feature__image{
        width: 100%;
    }
    .testimonials__wrapper .container{
        padding-left: 0%;
        padding-right: 0%;
    }
    .grain-diverse__spiral-image{
        width:720px;
        transform: rotate(167deg);
    }
    .grain-diverse__spiral-people-image{
        width:100%;
    }
    .white-gradient-cover{
        width: 90%;
    }
    .grain-diverse .get-started__box{
        justify-content: flex-start;
        padding-top: 60px;
    }
    #get-started-left-image{
        width: 30%;
        top:auto;
        right:auto;
        left: 5%; 
        bottom: -4%;
        transform: rotate(10deg);
    }
    #get-started-right-image{
        width: 45%;
        top:auto;
        left: auto; 
        bottom: -5%;
        right:5%;
        transform: rotate(-10deg);
    }
    .footer__top-container .footer__section-list-title{
        margin-bottom: 8px;
    }
    .footer__top-container .footer__section-list-options{
        column-gap: 0px;
        row-gap: 0px;
    }
    .footer__top-container .footer__section-list-options a{
        padding-top: 12px;
        padding-bottom: 12px;
        padding-right: 12px;

    }
    .footer__top-container {
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }
    .footer__top-container .footer__connect{
        padding-top:16px;
        row-gap: 48px;
    }
    .footer__top-container .footer__connect .footer__email{
        padding: 8px 0;
    }
    .footer__top-container .footer__menu {
        width: 100%;
        column-gap: 10px;
        grid-row-gap: 10px;
        flex-flow: wrap;
        order: -1;
        justify-content: space-between;
        align-items: flex-start;
    }
}
@media only screen and (max-width:860px){
    .trusted-companies .trusted-companies__gallery{
        overflow: scroll;
    }
    .trusted-companies .trusted-companies__gallery-top-row, 
    .trusted-companies .trusted-companies__gallery-bottom-row{
        justify-content: flex-start;
    }
}
@media only screen and (max-width:768px){
    .hero__top-section-large-title{
        font-size: 3rem;
    }
    .hero__top-section-sub-title{
        font-size:1rem;
    }
    .hero__bottom-section .hero__gradient-background{
        display: none;
        width:100%;
        height:200%;
        top:-50px;
        background: radial-gradient(var(--grain-green) 0.5%,  rgba(255,255,255,0),rgba(255,255,255,0));
    }
    .hero__background-wrapper{
        display: none;
    }
    .hero__image-wrapper img {
        box-shadow: 1px 1px 70px 40px var(--grain-green-opaque);
    }
    .features .features__paragraph{
        font-size: 1rem;
    }
    .features__grid-item{
        width: 44%;
    }
    .section-sub-title{
        font-size: 36px;
    }
    .explained-feature__content{
        gap: 16px;
    }
    .explained-feature .explained-feature__mini-boxes{
        flex-direction: column;
    }
    .explained-feature:nth-child(1) .explained-feature__mini-boxes .explained-feature__mini-box:nth-child(2),
    .explained-feature:nth-child(1) .explained-feature__mini-boxes .explained-feature__mini-box:nth-child(3){
        display: none;
    }
    .explained-feature:nth-child(2) .explained-feature__mini-boxes .explained-feature__mini-box:nth-child(2),
    .explained-feature:nth-child(2) .explained-feature__mini-boxes .explained-feature__mini-box:nth-child(3){
        display: none;
    }
    .explained-feature:nth-child(3) .explained-feature__mini-boxes .explained-feature__mini-box:nth-child(2),
    .explained-feature:nth-child(3) .explained-feature__mini-boxes .explained-feature__mini-box:nth-child(3){
        display: none;
    }
    .explained-feature:nth-child(4) .explained-feature__mini-boxes .explained-feature__mini-box:nth-child(2),
    .explained-feature:nth-child(4) .explained-feature__mini-boxes .explained-feature__mini-box:nth-child(3){
        display: none;
    }
    .explained-feature:nth-child(1) .explained-feature__content,
    .explained-feature:nth-child(3) .explained-feature__content{
        flex-direction: column-reverse;
    }
    .explained-feature:nth-child(2) .explained-feature__content,
    .explained-feature:nth-child(3) .explained-feature__content{
        flex-direction: column;
    }
    .integrations__image{
        display: none;
    }
    .testimonials__carousel, .verdict{
        width: 488px;
    }
    .verdict__wrapper{
        border-top-left-radius: 0;
        border-top-right-radius: 0;
        align-items: flex-start;
        flex-direction: column;
        gap: 24px;
        padding-top: 24px;
    }
    .verdict__left-box,
    .verdict__right-box{
        width:100%;
    }
    .testimonial__box .testimonial__text,   .testimonial__box .testimonial__focused-text{
        font-size: 24px;
        text-align: left;
    }
    .testimonial__box .testimonial__user-image{
        display: none;
    }
    .large-summary{
        font-size: 36px;
    }
    .testimonials__wrapper .container{
        gap:0px;
        row-gap: 0px;
    }
    .privacy__box{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
    }
    .privacy__box-details, .privacy .privacy__image-column, .privacy .privacy__box-image{
        max-width:100%;
        width:100%;
    }
    .grain-diverse__flex{
        height: 600px;
        z-index: 10;
    }
    .grain-diverse .spiral{
        height:900px;
        justify-content: flex-start;
    }
    .spiral__top-container{
        height: auto;
    }
    .grain-diverse .get-started__box{
        height: 600px;
        padding-top: 40px;
        padding-left: 38px;
        padding-right: 38px;
    }
    #get-started-left-image{
        width: 40%;
        top:300px;
        right:auto;
        left:-20px; 
        bottom: -3%;
        transform: rotate(9deg);
    }
    #get-started-right-image{
        width: 65%;
        top:auto;
        left: auto; 
        bottom: -25px;
        right:-50px;
    }
    .spiral .spiral__bottom-container{
        display: flex;
        row-gap: 40px;
        position: relative;
    }
    .footer__top-container .footer__menu{
        column-gap: 10px;
    }
    .footer__top-container{
        row-gap: 10px;
    }
    .footer__top-container .footer__section-list {
        width: auto;
    }
}

@media only screen and (max-width:720px){
    .grain-diverse__spiral-image{
        width:100%;
    }
}

@media only screen and (max-width:520px){
    .testimonials__carousel, .verdict{
        width: 330px;
    }
    .testimonial__box{
        gap:30px;
        justify-content: flex-start;
        align-items: center;
    }
    .testimonial__box{
        height: auto;
    }
    .testimonial__carousel-buttons{
        position: static;
        margin-top: 30px;
    }
}
@media only screen and (max-width:600px){
    .spiral__top-container{
        height: auto;
    }
    .footer__bottom-wrapper{
        flex-direction: column;
        row-gap: 15px;
    }
}
@media only screen and (max-width:500px){
    .hero__top-section-large-title{
        font-size: 2.5rem;
    }
    .hero__bottom-section .hero__image-wrapper{
        padding-top: 70px;
    }
    .features .features__sub-title{
        font-size: 2.5rem;
    }

    
}
@media only screen and (max-width:480px){
    .features__grid{
        flex-direction: column;
    }
    .features__grid-item{
        width:100%;
    }
    .grain-diverse .spiral{
        height:1010px;
    }
    .grain-diverse__flex{
        height: 500px;
    }
    .grain-diverse .get-started__box{
        height: 720px;
        padding-left: 20px;
        padding-right: 20px;
    }
    .grain-diverse .get-started__buttons{
        flex-direction: column;
        width: 100%;
    }
    .grain-diverse .get-started__buttons .black-button,
    .grain-diverse .get-started__buttons .green-demo-button{
        width: 100%;
    }
    #get-started-left-image{
        width: 55%;
        top: auto;
        right: auto;
        left:-10%; 
        bottom: 147px;
        transform: rotate(7deg);
    }
    #get-started-right-image{
        width: 80%;
        transform: rotate(-10deg);
    }
    .spiral .spiral__bottom-container {
        flex-direction: column;
        row-gap: 24px;
        gap:24px;
    }
    .spiral .spiral__menu-button{
        width:100%;
    }
    .footer__top-container .footer__menu {
        row-gap: 15px;
    }
    .footer__top-container .footer__section-list{
        width:100%;
    }
}
@media only screen and (max-width:360px){
    .hero__top-section-buttons{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .hero__top-section-buttons .black-button{
        margin-right:0px;
        margin-bottom: 12px;
    }
    .hero__top-section-buttons .black-button, .hero__top-section-buttons .green-demo-button{
        width: 100%;
    }
}